<div class="container">
    <div style="background-color: white; padding: 1em;">
        <p id="header"> Add Review</p>
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput  [(ngModel)]="review.reviewTitle">
          <mat-icon matSuffix>title</mat-icon>
        </mat-form-field> <br>
        <mat-form-field appearance="outline">
            <mat-label>Rating</mat-label>
            <input type="number" max="5" matInput placeholder="" [(ngModel)]="review.rating">
            <mat-icon matSuffix>star</mat-icon>
          </mat-form-field> <br>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="" [(ngModel)]="review.reviewDescription"></textarea>
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field> <br>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      </div>
</div>
